.header {
	height: var(--header-height);
	background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
	display: flex;
	justify-content: space-between;
	height: var(--navbar-height);
}

.header__navbar-list {
	list-style-type: none;
	padding-left: 0;
	margin: 5px 0;
	display: flex;
}

.header__navbar-item {
	margin: 0 8px;
	position: relative;
	min-height: 26px;
}

.header__navbar-item,
.header__navbar-item-link {
	display: inline-block;
	font-size: 1.3rem;
	font-weight: 400;
	text-decoration: none;
	color: var(--white-color);
}

.header__navbar-item--separate::after {
	content: '';
	display: block;
	position: absolute;
	width: 1px;
	height: 14px;
	background-color: #fb9086;
	top: 50%;
	right: -9px;
	transform: translateY(-50%);
}

.header__navbar-item-link:hover,
.header__navbar-item:hover,
.header__navbar-icon-link:hover {
	cursor: pointer;
	color: rgba(255, 255, 255, 0.7);
}

.header__navbar-icon-link {
	color: var(--white-color);
	text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
	margin-left: 3px;
}

.header__navbar-icon {
	font-size: 1.7rem;
	margin: 0 4px;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
	display: inline-flex;
	align-items: center;
}

.header__navbar-title--no-pointer {
	cursor: text;
	color: var(--white-color);
	opacity: 1 !important;
}

.header__navbar-item:hover .header__qr {
	display: block;
}

/* Header QR Code */

.header__qr {
	width: 186px;
	background-color: var(--white-color);
	position: absolute;
	left: 0;
	top: 125%;
	box-shadow: 0px 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
	display: none;
	animation: fadeIn linear 0.2s;
	z-index: 4;
}

.header__qr::before {
	position: absolute;
	width: 100%;
	height: 25%;
	content: '';
	display: block;
	top: -18px;
	left: 0;
}

.header__qr-apps {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 4px 14px;
}

.header__qr-img {
	width: 100%;
}

.header__qr-download-img {
	height: 17px;
	margin-bottom: 10px;
}

/* Header notification */

.header__notify {
	position: absolute;
	width: 414px;
	top: 125%;
	right: 0;
	background-color: var(--white-color);
	border: 1px solid #ccc;
	display: none;
	cursor: default;
	transform-origin: calc(100% - 20px) top;
	animation: notifyGrowth linear 0.25s;
	will-change: opacity, transform;
	z-index: 4;
	border-radius: 3px;
}

.header__navbar-item:hover .header__notify {
	display: block;
}

.header__notify::before {
	position: absolute;
	width: 30%;
	height: 3%;
	content: '';
	display: block;
	right: 0;
	top: -14px;
}

.header__notify::after {
	content: '';
	border-width: 20px 28px;
	border-style: solid;
	border-color: transparent transparent var(--white-color) transparent;
	position: absolute;
	right: 5px;
	top: -30px;
}

.header__notify-header {
	background-color: var(--white-color);
	height: 35px;
	padding: 10px 10px;
}

.header__notify-header h3 {
	color: #999;
	font-weight: 400;
	text-transform: capitalize;
	font-size: 1.35rem;
	margin: 0;
}

.header__notify-list {
	padding-left: 0;
}

.header__notify-item {
	padding: 8px 0;
	transition: linear 0.1s;
}

.header__notify-item:hover {
	background-color: #eee;
}

.header__notify-link {
	display: flex;
	text-decoration: none;
	justify-content: space-around;
	align-items: center;
	padding: 0 8px;
}
.header__notify-img {
	width: 100%;
	max-width: 50px;
}
.header__notify-info {
	margin-left: 5px;
}
.header__notify-info--name {
	color: var(--black-color);
	font-size: 1.4rem;
	display: block;
	font-weight: 400;
	line-height: 1.4;
}
.header__notify-info--des {
	color: #888;
	font-size: 1.15rem;
	text-overflow: ellipsis;
	line-height: 1.4;
}

.header__notify-footer {
	padding: 14px 0;
	text-align: center;
}

.header__notify-footer:hover {
	background-color: #eee;
}

.header__notify-footer-btn {
	display: block;
	font-size: 1.4rem;
	text-align: center;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.7);
}

/* User */

.header__navrbar-user {
	display: flex;
	align-items: center;
	position: relative;
}

.header__navbar-user-img {
	width: 22px;
	height: 22px;
	border-radius: 50%;
}

.header__navbar-user-name {
	margin-left: 4px;
	font-size: 1.3rem;
	font-weight: 500;
}

.header__navbar-user--separate {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-menu {
	position: absolute;
	top: 125%;
	right: 0;
	background-color: var(--white-color);
	z-index: 2;
	width: 155px;
	padding-left: 0;
	list-style: none;
	box-shadow: 0px 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	display: none;
	transform-origin: calc(100% - 20px) top;
	animation: notifyGrowth linear 0.2s;
}

.header__navbar-user-menu::before {
	content: '';
	border-width: 20px 25px;
	border-style: solid;
	border-color: transparent transparent var(--white-color) transparent;
	position: absolute;
	right: 5px;
	top: -30px;
	display: block;
	z-index: -1;
}

.header__navbar-user-menu::after {
	content: '';
	display: block;
	position: absolute;
	width: 50%;
	height: 10px;
	top: -10px;
	right: 15px;
}

.header__navbar-user-item {
	font-size: 1.4rem;
	transition: linear 0.1s;
}

.header__navbar-user-item a {
	text-decoration: none;
	padding: 12px 16px;
	display: block;
	color: var(--text-color);
}

.header__navbar-user-item a:hover {
	background-color: #eee;
	color: var(--primary-color);
}

.header__navbar-user-item a:nth-child(1):hover,
.header__navbar-user-item a:nth-child(3):hover {
	border-radius: 2px;
}

.header__navbar-user:hover .header__navbar-user-menu {
	display: block;
}
/* Authen form */

.auth-form {
	width: 500px;
	border-radius: 5px;
	background-color: var(--white-color);
	overflow: hidden;
}

.auth-form__container {
	padding: 0 32px;
}

.auth-form__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 8px;
	margin-top: 12px;
}

.auth-form__heading {
	font-size: 2.2rem;
	font-weight: 400;
}

.auth-form__switch {
	font-size: 1.5rem;
	color: var(--primary-color);
}

.auth-form__switch:hover {
	filter: brightness(120%);
	cursor: pointer;
}

.auth-form__input {
	width: 100%;
	height: 40px;
	font-size: 1.3rem;
	margin-top: 16px;
	padding: 0 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.auth-form__aside {
	margin-top: 15px;
}

.auth-form__policy-text {
	font-size: 1.15rem;
	line-height: 1.6rem;
	text-align: center;
	padding: 0 12px;
}

.auth-form__text-link {
	text-decoration: none;
	color: var(--primary-color);
}

/* Button */

.auth-form__controls {
	margin-top: 80px;
	display: flex;
	justify-content: flex-end;
}

.btn.btn--primary {
	margin-left: 10px;
}

/* Socials */

.auth-form__socials-icon {
	font-size: 1.8rem;
}

.auth-form__socials {
	padding: 12px 32px;
	background-color: #f5f5f5;
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
}

.auth-form__socials-fb {
	background-color: #3a5a98;
	color: var(--white-color);
	margin-right: 10px;
}

.auth-form__socials-google {
	background-color: #4285f4;
	color: var(--white-color);
	margin-left: 10px;
}

.auth-form__socials-icon {
	margin: 0 15px 0 5px;
}

.btn--with-icon {
	flex: 1;
}

/*  */
.auth-form__help {
	display: flex;
	justify-content: flex-end;
	margin-top: 16px;
}

.auth-form__help-link {
	text-decoration: none;
	font-size: 1.4rem;
	color: #939393;
}

.auth-form__help-link--primary {
	color: var(--primary-color);
}

.auth-form__help-separate {
	display: flex;
	border-left: 1px solid #939393;
	margin: 0 16px;
}

/* Header logo */

.header-with-search {
	height: var(--header-search-height);
	display: flex;
	align-items: center;
	margin: 0 8px;
	box-sizing: border-box;
}

.header__logo {
	width: 200px;
}

.header__logo-link {
	color: transparent;
	text-decoration: none;
}

.header__logo-img {
	width: 150px;
}

.header__search {
	flex: 1;
	height: 40px;
	background-color: var(--white-color);
	border-radius: 3px;
	display: flex;
	align-items: center;
}

.header__cart {
	width: 150px;
	text-align: center;
}

.header__cart-wrap {
	position: relative;
	display: inline-block;
	padding: 4px 8px;
	cursor: pointer;
}

.header__cart-wrap--notice {
	background-color: var(--white-color);
	position: absolute;
	padding: 1px 7px;
	color: var(--primary-color);
	border: 2px solid #ee4d2d;
	font-size: 1.4rem;
	border-radius: 10px;
	top: -5px;
	right: -5px;
	line-height: 1.4rem;
}

.header__cart-list--no-cart .header__cart-list--no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
	display: block;
}

.header__cart-list--no-cart .header__cart-bottom,
.header__cart-list--no-cart .header__cart-heading,
.header__cart-list--no-cart .header__cart-list-item {
	display: none;
}

.header__cart-list {
	position: absolute;
	width: 405px;
	/* height: 205px; */
	top: calc(100% + 10px);
	right: -5px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0px 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
	animation: notifyGrowth linear 0.15s;
	transform-origin: calc(100% - 20px) top;
	display: none;
	cursor: default;
	z-index: 3;
}

.header__cart-list::before {
	content: '';
	border-width: 20px 20px;
	border-style: solid;
	border-color: transparent transparent var(--white-color) transparent;
	position: absolute;
	right: 5px;
	top: -30px;
	display: block;
}

.header__cart-list::after {
	content: '';
	display: block;
	position: absolute;
	width: 50%;
	height: 10px;
	top: -10px;
	right: 0;
}

.header__cart-list--no-cart-img {
	width: 25%;
	margin-top: 25px;
	display: none;
	margin-left: auto;
	margin-right: auto;
}
.header__cart-list-no-cart-msg {
	font-size: 1.4rem;
	margin-top: 10px;
	margin-bottom: 25px;
	display: none;
}

.header__cart-wrap:hover .header__cart-list {
	display: block;
}

.header__cart-icon {
	font-size: 2.4rem;
	color: var(--white-color);
}

.header__cart-heading {
	font-size: 1.5rem;
	font-weight: 400;
	color: #777;
	text-align: left;
	padding-left: 12px;
	margin-top: 12px;
	margin-bottom: 12px;
}

.header__cart-list-item {
	padding-left: 0;
	margin: 0;
	max-height: 50vh;
	overflow-y: auto;
}

.header__cart-item:hover {
	background: #eee;
	cursor: pointer;
}

.header__cart-item {
	display: flex;
	align-items: flex-start;
	padding: 12px;
	box-sizing: border-box;
	transition: linear 0.1s;
}

.header__cart-item-img {
	width: 4.5rem;
	height: 4.5rem;
	border: 1px solid #ccc;
}

.header__cart-item-info {
	flex: 1;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-left: 12px;
	box-sizing: border-box;
}
.header__cart-item-name {
	width: 230px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.33rem;
	font-weight: 400;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.header__cart-item-pricing {
	font-size: 1rem;
}
.header__cart-item-price {
	font-size: 1.33rem;
	text-align: right;
	color: var(--primary-color);
}

.header__cart-bottom {
	display: flex;
	padding: 12px;
	justify-content: space-between;
}

.header__cart-bottom-qty {
	font-size: 1.3rem;
}

.header__search-input-wrap {
	height: 100%;
	flex: 1;
	position: relative;
}

.header__search-history {
	position: absolute;
	top: calc(100% + 3px);
	left: 0;
	width: calc(100% - 16px);
	background-color: var(--white-color);
	box-shadow: 0px 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	display: none;
	z-index: 3;
}

.header__search-history-heading {
	height: 36px;
	margin: 0;
	padding: 12px 12px;
	font-size: 1.4rem;
	font-weight: 400;
	color: #aaa;
}
.header__search-history-list {
	padding: 0;
	margin: 0;
	list-style: none;
}
.header__search-history-item {
	padding: 16px 12px;
	height: 46px;
	font-size: 1.4rem;
	transition: linear 0.1s;
}

.header__search-history-item a {
	text-decoration: none;
	color: var(--text-color);
	display: block;
}

.header__search-history-item:hover {
	background-color: #eee;
	cursor: pointer;
}

.header__search-input {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	font-size: 1.4rem;
	padding: 0 16px;
	border-radius: 3px;
}

.header__search-input:focus + .header__search-history {
	display: block;
}

.header__search-select {
	width: 150px;
	text-align: center;
	display: flex;
	justify-content: space-around;
	border-left: 1px solid #ccc;
	padding: 5px 0;
	position: relative;
	cursor: pointer;
}

.header__search-select-label {
	font-size: 1.45rem;
}

.header__search-select-icon {
	font-size: 1.5rem;
}

.header__search-option {
	min-width: 160px;
	position: absolute;
	list-style: none;
	top: 100%;
	right: 0;
	box-shadow: 0px 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
	padding-left: 0;
	border-radius: 3px;
	display: none;
	animation: fadeIn linear 0.15s;
	z-index: 3;
}

.header__search-option::before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 10px;
	top: -11px;
}

.header__search-option-item {
	background-color: var(--white-color);
	border-radius: 3px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 16px;
}

.header__search-select:hover .header__search-option {
	display: block;
}

.header__search-option-item:hover {
	background-color: #eee;
	cursor: pointer;
}

.header__search-option-item span {
	font-size: 1.4rem;
	color: var(--text-color);
}

.header__search-option-item i {
	font-size: 1.2rem;
	color: var(--primary-color);
}

.header__search-btn {
	width: 60px;
	height: 36px;
	background-color: var(--primary-color);
	margin: 0 2px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
}

.header__search-icon {
	font-size: 1.6rem;
	color: var(--white-color);
}

.header__search-btn:hover {
	filter: brightness(120%);
	cursor: pointer;
}

.header__search-option-item i {
	display: none;
}

.header__search-option-item--active i {
	display: block;
}

/* Container */

.app__container {
	background-color: #f5f5f5;
}

.app__content {
	padding-top: 16px;
}

/* Category */

.category {
	background-color: var(--white-color);
	margin-bottom: 16px;
	border-radius: 2px;
}

.category__heading {
	font-size: 1.6rem;
	font-weight: 500;
	padding: 12px 16px;
	border-bottom: 1px solid #ccc;
	margin-top: 0;
	margin-bottom: 0;
}

.category__heading-icon {
	font-size: 1.3rem;
	position: relative;
	top: -1px;
	margin-right: 4px;
}

.category-list {
	padding-left: 0px;
	list-style: none;
	margin-top: 8px;
	margin-bottom: 0;
}

.category-item--active .category-item__link {
	color: var(--primary-color);
}

.category-item--active .category-item__link:hover {
	right: 0;
}

.category-item--active .category-item__link::before {
	content: '';
	/* width: 4px;
	height: 4px; */
	position: absolute;
	border: 4px solid;
	border-color: transparent transparent transparent var(--primary-color);
	top: 50%;
	left: 15px;
	transform: translateY(calc(50% - 8px));
}

.category-item__link {
	font-size: 1.4rem;
	text-decoration: none;
	color: var(--text-color);
	display: block;
	position: relative;
	transition: right linear 0.1s;
	right: 0;
	padding: 10px 27px;
}

.category-item__link:hover {
	right: -6px;
	color: var(--primary-color);
}

/* Home filter */

.home-filter {
	background-color: rgba(0, 0, 0, 0.05);
	display: flex;
	align-items: center;
	padding: 12px 22px;
	border-radius: 2px;
}

.home-filter__label {
	font-size: 1.4rem;
	color: #555;
	margin-right: 10px;
}

.home-filter__btn {
	margin-right: 6px;
	margin-left: 6px;
	min-width: 90px;
}

.home-filter__page {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.home-filter__page-num {
	font-size: 1.4rem;
}
.home-filter__page-current {
	color: var(--primary-color);
}
.home-filter__page-control {
	border-radius: 2px;
	overflow: hidden;
	display: flex;
	width: 72px;
	height: 36px;
	margin-left: 18px;
	box-shadow: 0px 1px 4px 0 rgb(0 0 0 / 20%);
}
.home-filter__page-btn {
	flex: 1;
	background-color: var(--white-color);
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #555;
	font-size: 1.3rem;
}

.home-filter__page-btn:first-child {
	border-right: 1px solid #eee;
}

.home-filter__page-btn--disable {
	background-color: #f9f9f9;
	color: #ccc;
	cursor: default;
}

/* Products */
.home-product {
	margin-bottom: 10px;
}

.home-product-item {
	display: block;
	text-decoration: none;
	background-color: var(--white-color);
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
	margin-top: 10px;
	position: relative;
	z-index: 1;
	border-radius: 2px;
	transition: transform linear 0.1s;
	will-change: transform;
}

.home-product-item:hover {
	transform: translateY(-1px);
	cursor: pointer;
	box-shadow: 1px 0.0625rem 2rem 0 rgb(0 0 0 / 10%);
}

.home-product-item__img {
	padding-top: 100%;
	/* background-origin: padding-box; */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.home-product-item__name {
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.8rem;
	height: 3.7rem;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 8px;
	padding-right: 8px;
	overflow: hidden;
	display: block;
	width: 100%;
	/* display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-clamp: 2; */
	white-space: wrap;
	text-overflow: ellipsis;
	color: var(--text-color);
}

.home-product-item__tag {
	padding: 0 8px;
}

.home-product-item__tag span {
	height: 18px;
}
.home-product-item__tag-gold {
	color: #f5a623;
	border: 1px solid #f5a623;
	display: inline-block;
	padding: 1px;
}

.home-product-item__tag-red {
	color: rgb(255, 66, 20);
	border: 1px solid rgb(255, 66, 20);
	display: inline-block;
	padding: 1px;
}
.home-product-item__price {
	display: flex;
	padding-left: 8px;
	padding-right: 8px;
	margin-top: 8px;
}

.home-product-item__price-old {
	font-size: 1.35rem;
	color: rgba(0, 0, 0, 0.54);
	text-decoration: line-through;
	margin-right: 10px;
}

.home-product-item__price-current {
	font-size: 1.5rem;
	color: var(--primary-color);
}

.home-product-item__action {
	padding-left: 8px;
	padding-right: 8px;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.home-product-item__like {
	margin-right: auto;
}

.home-product-item__like-icon {
	color: var(--text-color);
	font-size: 1.25rem;
	cursor: pointer;
}

.home-product-item__like-icon-fill {
	display: none;
}

.home-product-item__like--clicked .home-product-item__like-icon-fill {
	display: inline-flex;
	color: rgb(245, 61, 47);
	font-size: 1.25rem;
	cursor: pointer;
}

.home-product-item__like--clicked .home-product-item__like-icon {
	display: none;
}

.home-product-item__rating {
	margin-right: 5px;
}

.home-product-item__star-black {
	color: var(--text-color);
}

.home-product-item__star-gold {
	color: var(--star-gold-color);
}

.home-product-item__sold-qty {
	font-size: 1.15rem;
	color: var(--text-color);
}

.home-product-item__origin {
	display: block;
	padding: 10px 8px;
	display: flex;
	justify-content: flex-end;
}

.home-product-item__origin-name {
	font-size: 1.25rem;
	color: #636363;
}

.home-product-item__favourite {
	position: absolute;
	top: 10px;
	left: -4px;
	color: var(--primary-color);
	background-color: currentColor;
	font-size: 1.2rem;
	line-height: 1.6rem;
	padding: 1px 4px 1px 1px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.home-product-item__favourite::before {
	content: '';
	position: absolute;
	border-top: 4px solid currentColor;
	border-left: 4px solid transparent;
	top: 100%;
	left: 0;
	filter: brightness(60%);
}

.home-product-item__favourite span {
	color: var(--white-color);
}

.home-product-item__favourite-icon {
	color: var(--white-color);

	font-size: 1.05rem;
	margin-left: 4px;
	margin-right: 3px;
}

.home-product-item__sale-off {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	color: rgba(255, 216, 57, 0.94);
	background-color: currentColor;
	font-size: 1.3rem;
	width: 38px;
	height: 36px;
	text-align: center;
	z-index: 1;
}

.home-product-item__sale-off::before {
	content: '';
	border-width: 0 19px 6px;
	border-style: solid;
	border-color: transparent currentColor transparent currentColor;
	position: absolute;
	right: 0px;
	top: calc(100%);
	display: block;
	z-index: -1;
}

.home-product-item__sale-off-percent {
	color: var(--primary-color);
	font-weight: 600;
}

.home-product-item__sale-off-label {
	color: var(--white-color);
	font-weight: 600;
}

/* Pagination */

.home-product__pagination {
	margin-top: 38px;
	margin-bottom: 32px;
}

/* Footer */

.footer {
	border-top: 4px solid var(--primary-color);
	padding-top: 24px;
	background-color: var(--white-color);
}

.footer__heading {
	font-size: 1.3rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #767676;
}

.footer-list {
	padding-left: 0;
	list-style: none;
}

.footer-list__socials {
}

.footer-item__socials {
	display: flex;
	align-items: center;
	margin-top: 4px;
}

.footer-item__socials i {
	font-size: 1.6rem;
	margin-right: 8px;
}

.footer-item {
}

.footer-item__link {
	color: #767676;
	text-decoration: none;
	font-size: 1.2rem;
	padding: 5px 0;
	display: block;
	transition: color linear 0.1s;
}

.footer-item__link:hover {
	color: var(--primary-color);
}

.footer__download {
	display: flex;
}

.footer__download-qr {
	width: 86px;
	border: 1px solid #ccc;
	object-fit: contain;
	margin-right: 16px;
}

.footer__download-list {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer__download-app-link {
	display: block;
	padding: 4px 0;
	text-decoration: none;
	color: transparent;
}

.footer__download-app-img {
	height: 18px;
}

.footer__bottom {
	background-color: #f5f5f5;
	padding: 16px 0;
	margin-top: 48px;
}

.copy-right {
	margin: 0;
	font-size: 1.35rem;
	text-align: center;
	color: var(--text-color);
}
